body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.header {
  padding-left: 0px;
  border: 1px;
}

.alpha {
  padding-left: 0px;
  border: 1px;
}

img {
  max-width: 200px;
}

.bravo {
  padding-left: 0px;
  border: 1px;
}
.charlie {
  padding-left: 0px;
  border: 1px;
}

